<% provide(:title, "Home") %>
<div class = "hero-unit" >

	<div class = "row">
	
	    <% if @posts.any? %>
	        <div id = "postCount">Found <%= pluralize(@posts.count, 'post')%></div>
	          <ol class="posts">
	            <%= render @posts %>
	          </ol>
	     
	        <%= will_paginate @posts %>
	    <% else %>
	    	NOTHING TO SEE HERE!
	    <% end %>

	 
	</div>

</div>

		

