<% provide(:title, "Home") %>
<div class = "hero-unit" >

	<div class = "row">
	<div id = "postCount">Found <%= pluralize(@totalPosts.count, 'post')%> <% if @tag!=nil %> related to <%= @tag %> <% end %> </div>
	    <% if @posts.any? %>
	        
	          <ol class="posts">
	            <%= render @posts %>
	          </ol>
	     
	        <%= will_paginate @posts %>
	    <% else %>
	    	NOTHING TO SEE HERE!
	    <% end %>

	 
	</div>

</div>

		

