@import "bootstrap";


$grayMediumLight: #eaeaea;

$ghostWhite: #F8F8FF;

#dexileos {
	width: 50%;
	height: auto;
}

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea{
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
	table.center{
		margin-left: auto;
	margin-right: auto;
	}
}



.nav-center { margin-left: auto; margin-right: auto; }



/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#signout{
  float: right;
  margin-right: 10px;
  color: #fff;
  letter-spacing: -1px;

  margin-top: 15px;
  font-weight: bold;
  line-height: 1;
}

#notAUser{
  color: black;
  font-weight: bold;
  &:hover{
    color: white;
  }
}

#footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.textWhite {
  color: white;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


$grayLighter: #e1e1e1;

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* body */

body {padding-top: 40px;}
  @media screen and (max-width: 768px) {
    body {padding-top: 110px;}
  }


/* create post button */

#createPost {
  float: right;
  margin-right: 10px;
  color: #fff;
  letter-spacing: -1px;

  margin-top: 15px;
  font-weight: bold;
  line-height: 1;
}

/* microposts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

h3{ 
  font-size: 2em;
}
h4{
  font-size: 1.2em;
}



.content {
  display: block;
}
.timestamp {
  float: left;
  color: $grayLight;
}
.updated{
  float:right;
  color: $grayLight;
  text-align: right;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

#quotes {
  font-size: 1.5em;
  color: green;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

#postCount{
  float: left;
  font-size: .8em;
  text-align: left;
}

.editDeletePost{
  float: right;
  font-weight: bold;

}

/* tag cloud */

.tag-cloud{
  position: relative;
  background-color: pink;
  .xs {font-size: .6em;}
  .s {font-size: .8em;}
  .m {font-size: 1em;}
  .l {font-size: 1.2em;}
  .xl {font-size: 1.4em;}
  margin: auto;
  overflow-y: auto;
}

/* blogCalendar */

#blogCalendar{
  
}

/* sidebar */

.sidebar-wrapper {
  
  width: 250px;
  background: orange;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;

}

.main-wrapper {
  padding-left: 250px;
}

@media (max-width: 767px) {
  
  .main-wrapper {
    padding-left: 0px;
  }

  .sidebar-wrapper {
    position: relative;
  }

  
}



