<footer class = "footer">
	<small>
		This Blog Application was built by Thomas DeFina
	</small>


<nav>
	<ul>
		<li> <%= link_to "About", tag_path("about") %> </li>
		<%# TODO replace these links with tagged links %>
	</ul>
</nav>

</footer>
